@using BlogCMS.Model
@model BlogPost

@{
    ViewBag.Title = "Index";
}

<h2>
    <a href="#">@Model.Title</a>
</h2>
<p class="lead">
    by @Model.FirstName @Model.LastName
</p>
<p><span class="glyphicon glyphicon-time"></span> Posted on @Model.DatePosted.Date.ToShortDateString()</p>
<hr>
@if (Model.ImageURL == null)
{
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
}
else
{
    <img class="img-responsive" src="@Model.ImageURL" alt="">
}
<hr style="border-top: 3px solid #E8E8E8;">
<p>@Html.Raw(@Model.Content)</p>
<hr style="border-top: 3px solid #E8E8E8;">
<br/>
