@using BlogCMS.Model
@model List<StaticPage>

<div class="row">
    <table class="table table-bordered" data-height="299" data-row-style="rowStyle" style="margin-top: 10px">
        <thead style="background-color: #f5f5f5">
            <tr>
                <th style="padding-right: 5px">Page ID</th>
                <th style="padding-right: 5px">Page Title</th>
                <th style="padding-right: 5px">Active</th>
                <th>Activate/Deactivate</th>
                <th>Edit </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.StaticPageID</td>
                    <td>@Html.ActionLink(post.Title, "Show", "StaticPage", new { id = post.StaticPageID }, null)</td>
                    @if (post.Active == true)
                    {
                        <td>Active</td>
                    }
                    else
                    {
                        <td>Deactivated</td>
                    }

                    @if (post.Active == true)
                    {
                        <td>
                            @Html.ActionLink("Deactivate", "Deactivate", "StaticPage", new { id = post.StaticPageID }, new { @class = "btn btn-primary btn-large" })
                        </td>
                    }
                    else if (post.Active == false)
                    {
                        <td>
                            @Html.ActionLink("Activate", "Activate", "StaticPage", new { id = post.StaticPageID }, new { @class = "btn btn-primary btn-large" })
                        </td>
                    }
            
                    <td>
                        @Html.ActionLink("Edit", "Edit", "StaticPage", new { id = post.StaticPageID }, new { @class = "btn btn-default btn-large" })
                    </td>
                    

                </tr>
            }
        </tbody>
    </table>
</div>

