<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Blog Post CMS</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/Home/Index/">Main</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edit Stuffs<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Admin", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Edit Category", "Category", "Admin", new { area = "" }, new { @class = "navbar-brand" })</li>
                    </ul>
                </li>
                <li>
                    <a href="/Home/Index/">Main</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <!--------------------------------------------------------------------------------------------->
            <div class="container body-content">
                @RenderBody()

            </div>

            <!----------------------------------------------------------------------------------------------->
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Tags Well -->
            <div class="well">
                <h4>Blog Tags</h4>

                <!-- /#tags-group -->
                <div id="tags-group"></div>

                <!-- /.input-group -->
            </div>
            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-6" id="category1">
                        @*<ul class="list-unstyled">
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                        </ul>*@
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6" id="category2">
                        @*<ul class="list-unstyled">
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                        </ul>*@
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- Side Widget Well -->
            <div class="well">
                <h4>Blog Archives</h4>
                <div class="row">
                    <div class="col-lg-6" id="archieve1">
                        @*<ul class="list-unstyled">
                            <li>
                                <a href="#">Month</a>
                            </li>
                            <li>
                                <a href="#">Month</a>
                            </li>
                            <li>
                                <a href="#">Month</a>
                            </li>
                            <li>
                                <a href="#">Month</a>
                            </li>
                        </ul>*@
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6" id="archieve2">
                        @*<ul class="list-unstyled">
                            <li>
                                <a href="#">Month</a>
                            </li>
                            <li>
                                <a href="#">Month</a>
                            </li>
                            <li>
                                <a href="#">Month</a>
                            </li>
                            <li>
                                <a href="#">Month</a>
                            </li>
                        </ul>*@
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
</div>
@*<div class="container body-content">
        @RenderBody()
        
    </div>*@
@*@section scripts
        {
    <script src="~/Javascripts/_Layout.js"></script>
}*@


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/script")
@RenderSection("scripts", required: false)


</body>
</html>

@*<script type="text/javascript">
    $(document).ready(function () {

        loadCategory();

        $(".category li").on('click', function () {

            window.location.href = "/Home/ListByCategory?id=" + $(this).text();

            //var URL = "/API/categoryAPI/";

            //alert($(this).val());

            //$.ajax({
            //    type: "Get",
            //    url: URL,
            //    datatype: "json",
            //    success: function (postList) {
            //        alert("got it");
            //        window.location.href = "/Home/ListByCategory?id=" + $(this).text();
            //        //showPostList();  
            //    },
            //    fail: function() {
            //        alert("no good");
            //    },
            //    data: { category : $(this).text() },
            //    async: false
            //});

        });

    });

function loadCategory() {
    //$('#category1').html("hihihihihi");
    var URL = "/API/CategoryAPI/";

    $.ajax({
        type: "Get",
        url: URL,
        dataType: "json",
        success: function (categories) {
            BuildCategoriesLinks(categories);
        },
        fail: function() {
            $('#category2').html("Load fail!");
        },
        data: { },
        async: false
    });

}

function BuildCategoriesLinks(categories) {

    //var URL = "/API/CategoryAPI/";
    var URL = "/Home/ListByCategory/";

    var category1 = $('#category1');
    var category2 = $('#category2');

    //category1.append($("<ul></ul>").addClass("list-unstyled"));
    //category2.append($("<ul></ul>").addClass("list-unstyled"));

    //<ul class="list-unstyled">
    //                       <li>
    //                           <a href="#">Category Name</a>
    //                       </li>
    //                       <li>
    //                           <a href="#">Category Name</a>
    //                       </li>
    //                       <li>
    //                           <a href="#">Category Name</a>
    //                       </li>
    //                       <li>
    //                           <a href="#">Category Name</a>
    //                       </li>
    //                   </ul>
    
    var categorylist1 = $("<div></div>").addClass("category");
    var categorylist2 = $("<div></div>").addClass("category");

    $.each(categories, function (index, category) {
        
        if (index % 2 === 1) {
            //categorylist = category1;
            categorylist1.append($("<li></li>").html($("<a></a>").attr("href", URL + category.CategoryID).text(category.CategoryName).val(category.CategoryID)));
        } else {
            //categorylist = category2;
            categorylist2.append($("<li></li>").html($("<a></a>").attr("href", URL + category.CategoryID).text(category.CategoryName).val(category.CategoryID)));
        }
    });

    category1.append($("<ul></ul>").addClass("list-unstyled").append(categorylist1));
    category2.append($("<ul></ul>").addClass("list-unstyled").append(categorylist2));
}


</script>*@

