<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Blog Post CMS", "Index", "Home", null, new {@class = "navbar-brand"})
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Home","Index","Home")
                </li>
                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edit Content<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if (User.IsInRole("Admin"))
                            {
                                <li>@Html.ActionLink("Blog Dashboard", "Index", "Admin")</li>
                                <li>@Html.ActionLink("Pages Dashboard", "ManagePages", "Admin")</li>
                                <li>@Html.ActionLink("Add a Static Page", "AddStatic", "StaticPage")</li>
                            }
                            <li>@Html.ActionLink("Add a Category", "AddCategory", "Blog")</li>
                            <li>@Html.ActionLink("Add a Post","Add","Blog")</li>
                        </ul>
                    </li>
                }

                @Html.Action("_StaticLinks","Home")
                
            </ul>
            
            @Html.Partial("_LoginPartial")
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <!--------------------------------------------------------------------------------------------->
            <div class="container body-content">
                @RenderBody()

            </div>

            <!----------------------------------------------------------------------------------------------->
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
          
            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-6" id="category1">
                       
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6" id="category2">
                      
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- Side Widget Well -->
            <div class="well">
                <h4>Blog Archives</h4>
                <div class="row">
                    <div class="col-lg-6" id="archieve1">
                      
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6" id="archieve2">
                     
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/script")
@RenderSection("scripts", required: false)


</body>
</html>