@using BlogCMS.Model
@model List<BlogPost>

@{
    ViewBag.Title = "Home Page";
}

@*<div class="row">
    <div class="col-md-8">*@

@if (Model.Count() == 0)
{
    <p>Something went wrong or we have no posts</p>
}
else
{
    foreach (var post in Model)
    {
         <!-- First Blog Post -->
        <h2>
            <a href="#">@post.Title</a>
        </h2>
            <p class="lead">
                by <a href="index.php">@post.FirstName @post.LastName</a>
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on @post.DatePosted</p>
            <hr>
            if(post.ImageURL == null)
            {
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            }
            else
            {
                <img class="img-responsive" src="@post.ImageURL" alt="">
            }

            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
            <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            @Html.ActionLink("Read More","Details","Blog", new { id = @post.BlogID },null)
            <hr>

    }
     <!-- Pager -->
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Older</a>
        </li>
        <li class="next">
            <a href="#">Newer &rarr;</a>
        </li>
    </ul>


}

@*</div>
    </div>*@