@using BlogCMS.Model
@model List<BlogPost>

@{
    ViewBag.Title = "ListByCategory";
}

@if (!Model.Any())
{
    <div id="tracker" value="0"></div>
    <p>Something went wrong or we have no posts</p>
}
else
{
    <div id="tracker" value="1"></div>
    foreach (var post in Model)
    {
         <!-- First Blog Post -->
        <h2>
            <a href="#">@post.Title</a>
        </h2>
        <p class="lead">
            by <a href="index.php">@post.FirstName @post.LastName</a>
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Posted on @post.DatePosted.Date</p>
            <hr>
        if (post.ImageURL == null)
        {
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        }
        else
        {
            <img class="img-responsive" src="@post.ImageURL" alt="">
        }

        <hr>
        <p>@post.Content</p>
        //<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
        <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

            <br />
            <hr>


    }
     <!-- Pager -->
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Older</a>
        </li>
        <li class="next">
            <a href="#">Newer &rarr;</a>
        </li>
    </ul>


}


@*<script type="text/javascript">
    $(document).ready(function() {

        alert(@Model[0].CategoryId);
        if($('#tracker').val() === 1 ) {
            var URL = "/Home/GetCategoryName/" + @Model[0].CategoryId;

            $.ajax({
                type: "Get",
                url: URL,
                dataType: "json",
                success: function(category) {
                    $('#categoryname').html("<h2>" + category + "</h2>");
                },
                fail: function() {

                },
                data: {},
                async: false
            });

        }
    });
        </script>*@
