@using BlogCMS.Model
@model List<BlogPost>

@{
    ViewBag.Title = "ListByMonth";
}

@if (!Model.Any())
{
    <div id="tracker" value="0"></div>
    <p>Something went wrong or we have no posts</p>
}
else
{
    <div id="tracker" value="1"></div>
    foreach (var post in Model)
    {
        <!-- First Blog Post -->
        <h2>
            <a href="#">@post.Title</a>
        </h2>
        <p class="lead">
            by @post.FirstName @post.LastName
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Posted on @post.DatePosted.Date.ToShortDateString()</p>
        <hr>
        if (post.ImageURL == null)
        {
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        }
        else
        {
            <img class="img-responsive" src="@post.ImageURL" alt="">
        }

        <hr style="border-top: 3px solid #E8E8E8;">
        <p>@Html.Raw(@post.Content)</p>
        <hr style="border-top: 3px solid #E8E8E8;">

    }
    <!-- Pager -->
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Older</a>
        </li>
        <li class="next">
            <a href="#">Newer &rarr;</a>
        </li>
    </ul>

}